{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Primera Compañia de Bomberos de Quilpue</title>
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="css/font-awesome.css">
    <!--<link href="path/to/lightbox.css" rel="stylesheet" />-->

	<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <script src="{% static 'js/lightbox.js' %}"></script>
	
    <header>
        <img width="100" height="100" src="{% static 'img/11026122_659705000802797_7885577479225009824_n.jpg' %}" border="1" alt="Texto Alternativo">
        <h1>Bomberos</h1>
        <nav class="menu">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'qsomos' %}">Quienes Somos</a></li>
            <li><a href="{% url 'fundacion' %}">Fundacion</a></li>
            <li><a href="{% url 'formulario' %}">Unete a Nosotros</a></li>
            <li><a href="{% url 'galeria' %}">Galeria</a></li>
            
            
        </nav>
    </header>

    <div class="contenido1">
        
        
    <ul class="galeria">
      <li class="galeria__item"><img src="{% static 'img/1.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/2.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/3.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/4.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/5.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/6.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/7.jpg' %}" class="galeria__img"></li>
      <li class="galeria__item"><img src="{% static 'img/8.jpg' %}" class="galeria__img"></li>
    </ul>
    <script src="{% static 'js/main.js' %}"></script>
    </div>

	

	
</body>
</html>